.modal-btn {
  text-align: center;
  padding: .6em .8em .8em;
  border: none;
  color: white;
  background: lightgray;
  margin: 5px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: inset 0 -.2em rgba(0,0,0, .2);
  outline: 0;
  transition: .2s;
  will-change: transform;
}
.modal-btn.primary {
  background: #4E3F92;
}
.modal-btn.warning {
  background: #ff463b;
}

.modal-btn:active {
  transform: scale(.9);
}

.overlay {
  background: rgba(0,0,0,.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /*transition: 300s ease-in;*/
  /*opacity: 0;*/
  /*visibility: hidden;*/
  display: none;
}
.overlay.active {
  /*opacity: 1;*/
  /*visibility: visible;*/
  display: flex;
}
.modal {

  width: 600px;
  background: white;
  padding: 3em;
  border-radius: 40px;
  text-align: center;
  z-index: 2;
  transform: translateY(-3000px);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 300px;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
}

.modal-content {
  display: flex;
}

.modal-content img {
  width: 170px;
  height: 256px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 20px;
}
.modal-content p {
  text-align: left;
  margin-left: 15px;
  color: #4E3F92;

}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
}
/*@keyframes animationIn {*/
@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*@keyframes animationOut {*/
@keyframes modalOut {
  0% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}

@media screen and (max-width: 767px) {

  .modal {

    max-width: 70vw;
    padding: 2em;
    height: 80vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .modal-content p {
    font-size: 0.8em;
  
  }

  .modal-content img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 0;
    border-radius: 20px;
  }
  

}

@media screen and (max-width: 480px) {

  .modal-content {
    display: block;
  }

  .modal {

    height: 80vh;

  }
  .modal-buttons {
    
    justify-content: center;
  }

}

@media screen and (max-width: 320px) {

  .modal-content {
    display: block;
  }

  .modal {

    height: 70vh;
    padding: 1.2em;

  }

  .modal-content p {
    font-size: 0.65em;
    text-align: left;
  
  }

  .modal-content img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
  }
  

}